.products__main {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}
.products__cards{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    text-align: center;
}

@media(max-width: 678px) {
    .products__main{
        justify-content: center;
        width: 90%;
    }
    .products__cards{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 1025px) {
    .products__main{
        width: 90%;
    }
    .products__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}